
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600;700&display=swap');


body {
  font-family: 'Mulish', sans-serif;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  background-color: #EBF2FF;
  align-items: center;
}

h1, h2, h3, div, span, button, section {
  margin: 0;
}