.todo-content {
    width: 700px;
    height: 500px;
    background-color: #FFFFFF;
    display: flex;
    margin-top: 80px;
    justify-content: center;
    box-shadow: 3px 3px 30px #b3b3b3;
    border-radius: 5px;
    overflow: hidden;

    .content-form {
        padding: 10px;
    }

    .illustration {
        padding: 50px 0;
        img{
            width: 350px;
            height: 300px;
        }
    }
}